body {
	font-size: 13px;
    color: #263238;
	background: #fafafa;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}
.mask {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 3;
    display: none;
    background-color: rgba(0, 0, 0, 0.45);
}
.top-nav {
    width: 100%;
    height: 60px;
    top: 0px;
    left: 0px;
    z-index: 3;
    padding: 0px 20px;
    position: fixed;
    @include background-gradient(left, #1E88E5, #512DA8);
    @include box-shadow(0px 0px 15px rgba(0, 0, 0, 0.3));
    .top-nav-box {
        width: 100%;
        height: 100%;
        max-width: 1600px;
        margin: 0px auto;
        display: table;
        table-layout: fixed;
        .logo-wrapper {
            width: 250px;
            vertical-align: top;
            display: table-cell;
            @include user-select(none);
            .logo-box {
                height: 100%;
                @include flexbox();
                align-items: center;
                justify-content: center;
                img {
                    width: 32px;
                    height: 36px;
                    margin-right: 10px;
                }
                a {
                    color: #fff;
                    text-decoration: none;
                    .logo-title {
                        font-size: 20px;
                        margin-bottom: 2px;
                    }
                    .logo-subtitle {
                        font-size: 10px;
                    }
                }
            }
        }
        .top-nav-content {
            color: #fff;
            height: 100%;
            font-size: 18px;
            padding-left: 10px;
            display: table-cell;
            vertical-align: top;
            .top-nav-box {
                @include flexbox();
                justify-content: space-between;
                .quick-link {
                    height: 100%;
                    position: relative;
                    .link-icon {
                        height: 100%;
                        cursor: pointer;
                        @include flexbox();
                        align-items: center;
                        padding: 0px 20px;
                        @include transition(all 0.4s ease);
                        &:hover {
                            background-color: #1565C0;
                        }
                    }
                    &.active {
                        background-color: #1565C0;
                        & > ul {
                            display: block;
                        }
                    }
                    ul {
                        top: 60px;
                        left: 0px;
                        width: 300px;
                        display: none;
                        margin-top: 20px;
                        position: absolute;
                        background-color: #fff;
                        @include border-radius(0.2em);
                        @include box-shadow(0px 0px 15px rgba(0, 0, 0, 0.07));
                        li {
                            width: (100% / 3.2);
                            text-align: center;
                            padding: 20px 0px;
                            cursor: pointer;
                            display: inline-block;
                            a {
                                color: #263238;
                                font-size: 13px;
                                text-decoration: none;
                                i {
                                    display: block;
                                    font-size: 18px;
                                    margin-bottom: 16px;
                                }
                            }
                        }
                        &:before {
                            content: "";
                            left: 20px;
                            top: -16px;
                            position: absolute;
                            border: 8px solid #fff;
                            border-bottom-color: #fff;
                            border-left-color: transparent;
                            border-right-color: transparent;
                            border-top-color: transparent;
                        }
                    }
                }
                .global-search {
                    padding-left: 20px;
                    @include flexbox();
                    align-items: center;
                    margin-right: auto;
                    button {
                        padding: 0px;
                        font-size: 14px;
                        background-color: transparent;
                    }
                    input {
                        color: #fff;
                        border: 0px;
                        @include placeholder(#fff);
                        background-color: transparent;
                    }
                }
                .top-notification {
                    font-size: 18px;
                    position: relative;
                    align-items: center;
                    justify-content: center;
                    @include flexbox();
                    @include user-select(none);
                    .notification-icon {
                        height: 100%;
                        cursor: pointer;
                        color: #fff;
                        padding: 18px 20px;
                        position: relative;
                        @include transition(all 0.4s ease);
                        .notification-badge {
                            display: inline-block;
                            line-height: 1;
                            color: #fff;
                            top: 12px;
                            left: 28px;
                            font-size: 11px;
                            padding: 2px 5px;
                            text-align: center;
                            white-space: nowrap;
                            vertical-align: baseline;
                            position: absolute;
                            background-color: #e33244;
                            @include border-radius(50px);
                        }
                        .notification-wrapper {
                            width: 300px;
                            z-index: 5;
                            display: none;
                            color: #263238;
                            font-size: 14px;
                            margin-top: 40px;
                            left: -78px;
                            position: absolute;
                            background-color: #fcfcfc;
                            @include border-radius(0.2em);
                            @include box-shadow(0px 0px 15px rgba(0, 0, 0, 0.07));
                            .notification-header {
                                padding: 20px 10px;
                                text-align: center;
                                .notification-count {
                                    color: #fff;
                                    padding: 2px 6px;
                                    background-color: #1aae88;
                                    @include border-radius(50%);
                                }
                            }
                            .notification-body {
                                overflow-x: hidden;
                                background-color: #fff;
                                .notification-list {
                                    color: #263238;
                                    padding: 10px 20px;
                                    border-top: 1px solid #fcfcfc;
                                    background-color: #fff;
                                    text-decoration: none;
                                    @include flexbox();
                                    .notification-image {
                                        width: 50px;
                                        img {
                                            width: 50px;
                                            height: 50px;
                                            @include border-radius(50%);
                                        }
                                    }
                                    .notification-content {
                                        margin-top: 10px;
                                        margin-left: 10px;
                                        .notification-text strong {
                                            font-weight: bold;
                                        }
                                        .notification-time {
                                            font-size: 12px;
                                            margin-top: 5px;
                                        }
                                    }
                                    &:hover {
                                        background-color: #fcfcfc;
                                    }
                                }
                            }
                            .notification-footer {
                                text-align: center;
                                a {
                                    color: #263238;
                                    display: block;
                                    padding: 20px 10px;
                                    text-decoration: none;
                                    &:hover {
                                        color: #0275d8;
                                    }
                                }
                            }
                            &:before {
                                content: "";
                                left: 98px;
                                top: -16px;
                                position: absolute;
                                border: 8px solid #fcfcfc;
                                border-bottom-color: #fcfcfc;
                                border-left-color: transparent;
                                border-right-color: transparent;
                                border-top-color: transparent;
                            }
                        }
                        &:hover {
                            background-color: #4527A0;
                        }
                        &.active {
                            background-color: #4527A0;
                            .notification-wrapper {
                                display: block;
                            }
                        }
                    }
                }
                .user-top-profile {
                    cursor: pointer;
                    position: relative;
                    align-items: center;
                    justify-content: center;
                    padding: 0px 20px;
                    @include flexbox();
                    @include user-select(none);
                    @include transition(all 0.4s ease);
                    .user-on {
                        width: 10px;
                        height: 10px;
                        top: 1px;
                        left: 1px;
                        position: absolute;
                        border: 1px solid #fff;
                        background-color: #1aae88;
                        @include border-radius(50%);
                    }
                    .user-image {
                        width: 40px;
                        height: 40px;
                        position: relative;
                        img {
                            width: 100%;
                            height: 100%;
                            @include border-radius(50%);
                        }
                    }
                    &.active {
                        background-color: #4527A0;
                        .clear .user-top-menu {
                            display: block;
                        }
                    }
                    .clear {
                        margin-left: 10px;
                        .user-name {
                            position: relative;
                            font-size: 14px;
                            color: #fff;
                            justify-content: center;
                            @include flexbox();
                            &:after {
                                content: "";
                                margin-top: 7px;
                                margin-left: 6px;
                                display: inline-block;
                                border: 4px solid #fff;
                                border-top-color: #fff;
                                border-left-color: transparent;
                                border-right-color: transparent;
                                border-bottom-color: transparent;
                            }
                        }
                        .user-group {
                            color: #ab91ef;
                            font-size: 12px;
                            margin-top: 2px;
                        }
                        .user-top-menu {
                            min-width: 155px;
                            padding: 10px;
                            z-index: 2;
                            position: absolute;
                            margin-top: 35px;
                            min-height: 0px;
                            display: none;
                            margin-left: -61px;
                            background-color: #fff;
                            @include border-radius(0.3em);
                            @include box-shadow(0px 0px 15px rgba(0, 0, 0, 0.07));
                            &:before {
                                content: "";
                                left: 65px;
                                top: -16px;
                                position: absolute;
                                border: 8px solid #fff;
                                border-bottom-color: #fff;
                                border-left-color: transparent;
                                border-right-color: transparent;
                                border-top-color: transparent;
                            }
                            li {
                                font-size: 13px;
                                padding: 10px 8px;
                            }
                            a {
                                width: 100%;
                                display: block;
                                font-size: 13px;
                                color: #263238;
                                text-decoration: none;
                                @include transition(all 0.4s ease);
                                &:hover {
                                    color: #0275d8;
                                    padding-left: 5px;
                                }
                            }
                        }
                    }
                    &:hover {
                        background-color: #4527A0;
                    }
                }
            }
        }
    }
}
.wrapper {
	width: 100%;
    z-index: 2;
    display: table;
    position: relative;
    table-layout: fixed;
    max-width: 1600px;
    padding: 20px;
    margin: 60px auto 0px auto;
    &.fixed-nav {
        padding: 0px;
        .side-nav {
            @include border-radius(0em);
        }
        .main {
            padding-left: 0px;
            .scrollable {
                padding: 10px;
            }
        }
    }
    &.compact-nav .side-nav {
        width: 92px;
        .side-notification {
            display: block;
            padding-top: 0px;
            .notification-icon {
                margin-top: 25px;
                .notification-wrapper {
                    margin-top: -40px;
                    left: 62px;
                    &:before {
                        left: -15px;
                        top: 22px;
                        border-bottom-color: transparent;
                        border-right-color: #fcfcfc;
                    }
                }
            }
        }
        .user-side-profile {
            text-align: center;
            padding: 20px 5px 20px 5px;
            display: block !important;
            .clear {
                margin-left: 0px;
            }
            .user-image {
                margin-top: 0px;
                display: inline-block;
                img {
                    width: 50px;
                    height: 50px;
                    margin: 0px;
                    margin-bottom: 10px;
                }
            }
            .user-name:after {
                display: none;
            }
            .clear .user-side-menu {
                top: 0px;
                left: 137px;
                min-width: 155px;
                text-align: left;
                li a {
                    width: 100%;
                    height: 100%;
                    display: block;
                }
                &:before {
                    left: -16px;
                    top: 30px;
                    border-bottom-color: transparent;
                    border-right-color: #fcfcfc;
                }
            }
        }
        .main-menu-title {
            text-align: center;
        }
        .main-menu ul li {
            position: relative;
            a {
                padding: 20px 25px;
                text-align: center;
                i {
                    font-size: 18px;
                    margin-right: 0px;
                }
                .badge {
                    display: none;
                }
                span {
                    display: none;
                }
            }
            ul {
                top: -10px;
                left: 100px;
                min-width: 140px;
                z-index: 5;
                min-height: 0px;
                position: absolute;
                margin-top: 10px;
                background-color: #fff;
                @include border-radius(0.3em);
                @include transition(none);
                &:after {
                    left: -36px;
                    top: 28px;
                }
            }
            &.active ul {
                padding: 10px;
                top: -10px;
                left: 100px;
                min-width: 155px;
                z-index: 2;
                min-height: 0px;
                position: absolute;
                margin-top: 10px;
                border-bottom: 0px;
                background-color: #fff;
                @include border-radius(0.3em);
                @include box-shadow(0px 0px 15px rgba(0, 0, 0, 0.2));
                &:before {
                    content: "";
                    left: -16px;
                    top: 23px;
                    position: absolute;
                    border: 8px solid #fff;
                    border-bottom-color: transparent;
                    border-right-color: #fff;
                    border-left-color: transparent;
                    border-top-color: transparent;
                }
                li a {
                    color: #263238;
                    padding: 10px 8px;
                    text-align: left;
                    @include transition(all 0.4s ease);
                    &:hover {
                        color: #0275d8;
                        padding-left: 13px;
                    }
                    &:before {
                        display: none;
                    }
                }
            }
        }
        .side-banner {
            display: none;
        }
    }
    .side-nav {
        width: 250px;
        min-height: 1000px;
        display: table-cell;
        vertical-align: top;
        background-color: #263238;
        @include border-radius(0.3em);
        @include transition(all 0.4s ease);
        @include box-shadow(0px 0px 15px rgba(0, 0, 0, 0.1));
        .user-side-profile {
            cursor: pointer;
            position: relative;
            justify-content: center;
            padding: 30px 20px 20px 20px;
            border-bottom: 1px solid #21292b;
            @include flexbox();
            @include user-select(none);
            .user-on {
                width: 12px;
                height: 12px;
                top: 2px;
                left: 2px;
                position: absolute;
                border: 2px solid #263238;
                background-color: #1aae88;
                @include border-radius(50%);
            }
            .user-image {
                width: 60px;
                height: 60px;
                margin-top: -12px;
                position: relative;
                img {
                    width: 100%;
                    @include border-radius(50%);
                }
            }
            &.active .clear .user-side-menu {
                display: block;
            }
            .clear {
                margin-left: 10px;
                .user-name {
                    position: relative;
                    font-size: 14px;
                    color: #fff;
                    justify-content: center;
                    @include flexbox();
                    &:after {
                        content: "";
                        margin-top: 7px;
                        margin-left: 6px;
                        display: inline-block;
                        border: 4px solid #fff;
                        border-top-color: #fff;
                        border-left-color: transparent;
                        border-right-color: transparent;
                        border-bottom-color: transparent;
                    }
                }
                .user-group {
                    color: #95989A;
                    font-size: 12px;
                    margin-top: 5px;
                }
                .user-side-menu {
                    padding: 10px;
                    z-index: 2;
                    position: absolute;
                    margin-top: 15px;
                    min-height: 0px;
                    display: none;
                    margin-left: -35px;
                    background-color: #fcfcfc;
                    @include border-radius(0.3em);
                    @include box-shadow(0px 0px 15px rgba(0, 0, 0, 0.2));
                    &:before {
                        content: "";
                        left: 65px;
                        top: -16px;
                        position: absolute;
                        border: 8px solid #fcfcfc;
                        border-bottom-color: #fcfcfc;
                        border-left-color: transparent;
                        border-right-color: transparent;
                        border-top-color: transparent;
                    }
                    li {
                        padding: 10px 8px;
                    }
                    a {
                        width: 100%;
                        display: block;
                        color: #263238;
                        text-decoration: none;
                        @include transition(all 0.4s ease);
                        &:hover {
                            color: #0275d8;
                            padding-left: 5px;
                        }
                    }
                }
            }
        }
        .side-notification {
            font-size: 18px;
            position: relative;
            justify-content: center;
            padding: 40px 20px 20px 20px;
            border-bottom: 1px solid #21292b;
            @include flexbox();
            @include user-select(none);
            .notification-icon {
                cursor: pointer;
                color: #fff;
                margin-left: 20px;
                margin-right: 20px;
                position: relative;
                .notification-badge {
                    display: inline-block;
                    line-height: 1;
                    color: #fff;
                    top: -6px;
                    left: 9px;
                    font-size: 11px;
                    padding: 2px 5px;
                    text-align: center;
                    white-space: nowrap;
                    vertical-align: baseline;
                    position: absolute;
                    background-color: #e33244;
                    @include border-radius(50px);
                }
                &:hover {
                    color: #f4f4f4;
                }
                .notification-wrapper {
                    width: 300px;
                    z-index: 5;
                    display: none;
                    color: #263238;
                    font-size: 14px;
                    margin-top: 20px;
                    left: -25px;
                    position: absolute;
                    background-color: #fcfcfc;
                    @include border-radius(0.2em);
                    @include box-shadow(0px 0px 15px rgba(0, 0, 0, 0.07));
                    .notification-header {
                        padding: 20px 10px;
                        text-align: center;
                        .notification-count {
                            color: #fff;
                            padding: 2px 6px;
                            background-color: #1aae88;
                            @include border-radius(50%);
                        }
                    }
                    .notification-body {
                        overflow-y: scroll;
                        overflow-x: hidden;
                        max-height: 260px;
                        .notification-list {
                            color: #263238;
                            padding: 10px 20px;
                            border-top: 1px solid #fcfcfc;
                            background-color: #fff;
                            text-decoration: none;
                            @include flexbox();
                            .notification-image {
                                width: 50px;
                                img {
                                    width: 50px;
                                    height: 50px;
                                    @include border-radius(50%);
                                }
                            }
                            .notification-content {
                                margin-top: 10px;
                                margin-left: 10px;
                                .notification-text strong {
                                    font-weight: bold;
                                }
                                .notification-time {
                                    font-size: 12px;
                                    margin-top: 5px;
                                }
                            }
                            &:hover {
                                background-color: #fcfcfc;
                            }
                        }
                    }
                    .notification-footer {
                        text-align: center;
                        a {
                            color: #263238;
                            display: block;
                            padding: 20px 10px;
                            text-decoration: none;
                            &:hover {
                                color: #0275d8;
                            }
                        }
                    }
                    &:before {
                        content: "";
                        left: 25px;
                        top: -16px;
                        position: absolute;
                        border: 8px solid #fcfcfc;
                        border-bottom-color: #fcfcfc;
                        border-left-color: transparent;
                        border-right-color: transparent;
                        border-top-color: transparent;
                    }
                    &.active {
                        display: block;
                    }
                }
                &.active .notification-wrapper {
                    display: block;
                }
            }
        }
        .main-menu-title {
            color: #5a686f;
            padding: 20px 20px 10px 25px;
            margin-top: 10px;
            border-bottom: 1px solid #21292b;
        }
        .main-menu {
            min-height: 100px;
            ul {
                li {
                    border-left: 3px solid transparent;
                    a {
                        padding: 17px 22px;
                        color: #f4f4f4;
                        cursor: pointer;
                        display: block;
                        text-decoration: none;
                        border-bottom: 1px solid #21292b;
                        @include transition(all 0.4s ease);
                        i {
                            font-size: 18px;
                            margin-right: 10px;
                        }
                    }
                    &:last-of-type a {
                        border: 0px;
                    }
                }
                a:hover {
                    padding-left: 35px;
                }
                li.active {
                    border-color: #1E88E5;
                    background-color: #21292b;
                    & > a {
                        &:hover {
                            padding-left: 22px;
                        }
                    }
                    ul {
                        padding-top: 10px;
                        padding-bottom: 10px;
                        border-bottom: 1px solid #21292b;
                        li {
                            display: block;
                        }
                        &:after {
                            background-color: #95989A;
                        }
                    }
                }
                ul {
                    position: relative;
                    @include transition(all 0.4s ease);
                    li {
                        display: none;
                        border: 0px;
                        a {
                            border-bottom: 0px;
                            padding: 15px 15px 15px 55px;
                            position: relative;
                            &:before {
                                content: "";
                                width: 4px;
                                height: 4px;
                                left: 35px;
                                top: 20px;
                                position: absolute;
                                background-color: #64686b;
                                @include border-radius(50%);
                                @include transition(all 0.4s ease);
                            }
                        }
                        a:hover {
                            padding-left: 65px;
                            &:before {
                                left: 45px;
                            }
                        }
                    }
                    &:after {
                        content: "";
                        width: 6px;
                        height: 6px;
                        right: 18px;
                        top: -30px;
                        position: absolute;
                        border: 1px solid #64686b;
                        @include border-radius(50%);
                    }
                }
            }
            .badge {
                margin-right: 8px;
            }
        }
        .side-banner {
            width: 100%;
            padding: 0px 20px;
            margin-top: 50px;
            margin-bottom: 20px;
            .banner-content {
                color: #fff;
                padding: 35px 15px;
                text-align: center;
                @include border-radius(0.3em);
                @include background-gradient(left, #1E88E5, #512DA8);
                .title {
                    width: 100px;
                    font-size: 24px;
                    position: relative;
                    margin: 0px auto;
                    font-weight: bold;
                    .version {
                        top: -8px;
                        right: -10px;
                        font-size: 12px;
                        position: absolute;
                    }
                }
                .subtitle {
                    color: #a5d3ff;
                    margin-top: 10px;
                    line-height: 18px;
                }
                .purchase {
                    width: 130px;
                    outline: none;
                    display: block;
                    cursor: pointer;
                    color: #1E88E5;
                    margin: 20px auto 0px auto;
                    padding: 8px 15px;
                    background-color: #fff;
                    text-decoration: none;
                    @include border-radius(50px);
                    @include transition(all 0.4s ease);
                    &:hover {
                        color: #fff;
                        background-color: #263238;
                    }
                }
            }
        }
    }
    .main {
        display: table-cell;
        vertical-align: top;
        padding-left: 10px;
        .breadcrumb {
            padding: 14px 20px;
            font-size: 12px;
            color: #263238;
            margin-bottom: 10px;
            box-sizing: border-box;
            background-color: #fff;
            @include box-shadow(0px 0px 15px rgba(0, 0, 0, 0.03));
            a {
                color: #263238;
                text-decoration: none;
                &:last-of-type {
                    color: #0275d8;
                    &:after {
                        display: none;
                    }
                }
                &:after {
                    content: "/";
                    font-weight: lighter;
                    padding-left: 5px;
                    padding-right: 5px;
                    display: inline-block;
                }
            }
        }
        .top-banner {
            color: #fff;
            padding: 35px 20px;
            position: relative;
            background-size: cover;
            box-sizing: border-box;
            background-color: #263238;
            background-image: url(../images/data-image.jpg);
            @include border-radius(0.3em 0.3em 0em 0em);
            @include box-shadow(0px 0px 15px rgba(0, 0, 0, 0.1));
            .top-banner-title {
                font-size: 24px;
                margin-top: 10px;
            }
            .top-banner-subtitle {
                font-size: 12px;
                margin-top: 10px;
                margin-bottom: 10px;
                i {
                    font-size: 15px;
                    color: #e33244;
                }
            }
        }
        .content {
            background: #fff;
            box-sizing: border-box;
            padding: 30px 20px 20px 20px;
            @include border-radius(0.3em);
            @include box-shadow(0px 0px 15px rgba(0, 0, 0, 0.1));
            @include background-gradient(top, #FAFAFA, #f1f1f1);
            .content-header {
                font-size: 18px;
                padding-bottom: 20px;
                margin-top: 30px;
                position: relative;
                border-bottom: 1px solid #E5E5E5;
                .content-header-title {
                    top: 1px;
                    left: 40px;
                    position: absolute;
                }
                i {
                    font-size: 26px;
                }
                &:after {
                    content: "";
                    width: 50px;
                    height: 5px;
                    left: 0px;
                    bottom: -1px;
                    position: absolute;
                    background-color: #263238;
                    @include border-radius(50px);
                }
            }
            .card-wrapper {
                position: relative;
                margin-top: 25px;
                @include transition(all 0.4s ease);
                .card {
                    border: 0px;
                    -webkit-flex-direction: initial;
                    -ms-flex-direction: initial;
                    flex-direction: initial;
                    justify-content: center;
                    align-items: center;
                    padding: 15px 10px 15px 10px;
                    background-color: #fcfcfc;
                    -webkit-animation: showSlowlyElement 0.80s;
                    animation: showSlowlyElement 0.80s;
                    @include flexbox();
                    @include border-radius(0.3em);
                    @include box-shadow(0px 0px 15px rgba(0, 0, 0, 0.04));
                    i {
                        font-size: 55px;
                        min-width: 55px;
                        text-align: center;
                        margin-right: 15px;
                    }
                    .card-title {
                        font-size: 36px;
                    }
                }
                .card-menu {
                    width: 4px;
                    height: 4px;
                    top: 16px;
                    right: 25px;
                    cursor: pointer;
                    position: absolute;
                    background-color: #ccc;
                    @include border-radius(50%);
                    &:after {
                        content: "";
                        width: 4px;
                        height: 4px;
                        top: -5px;
                        position: absolute;
                        background-color: #ccc;
                        @include border-radius(50%);
                    }
                    &:before {
                        content: "";
                        width: 4px;
                        height: 4px;
                        top: 5px;
                        position: absolute;
                        background-color: #ccc;
                        @include border-radius(50%);
                    }
                    ul {
                        width: 130px;
                        z-index: 2;
                        right: 10%;
                        display: none;
                        padding: 15px;
                        margin-top: 15px;
                        position: absolute;
                        background-color: #fff;
                        @include border-radius(0.3em);
                        @include box-shadow(0px 0px 15px rgba(0, 0, 0, 0.07));
                        li {
                            &:not(:last-child) {
                                margin-bottom: 10px;
                            }
                            a {
                                color: #333;
                                display: block;
                                text-decoration: none;
                                @include transition(all 0.4s ease);
                                &:hover {
                                    color: #0275d8;
                                    padding-left: 5px;
                                }
                            }
                        }
                    }
                }
            }
            .content-box {
                padding: 15px;
                margin-top: 25px;
                background-color: #fcfcfc;
                -webkit-animation: showSlowlyElement 0.80s;
                animation: showSlowlyElement 0.80s;
                @include border-radius(0.3em);
                @include transition(all 0.4s ease);
                @include box-shadow(0px 0px 15px rgba(0, 0, 0, 0.04));
                .content-box-header {
                    border-bottom: 1px solid #EBEBEB;
                    padding-bottom: 15px;
                    margin-bottom: 20px;
                    .box-title {
                        font-size: 16px;
                        color: #263238;
                        margin-bottom: 8px;
                    }
                    .box-description {
                        line-height: 18px;
                    }
                    .header-menu {
                        display: inline-block;
                        padding: 4px 10px;
                        cursor: pointer;
                        @include border-radius(50px);
                        &.active {
                            color: #fff;
                            background-color: #263238;
                        }
                    }
                }
                .content-box-footer {
                    border-top: 1px solid #EBEBEB;
                    padding-top: 20px;
                    margin-top: 20px;
                }
                .line-chart-label {
                    margin-top: 20px;
                    font-size: 10px;
                }
                .line-chart-value {
                    margin-top: 5px;
                    font-weight: bold;
                    font-size: 30px !important;
                    margin-bottom: 20px;
                }
                .product-list {
                    position: relative;
                    margin-bottom: 15px;
                    border-bottom: 1px solid #EBEBEB;
                    @include flexbox();
                    img {
                        width: 60px;
                        height: 60px;
                        margin-bottom: 15px;
                        margin-right: 10px;
                        @include border-radius(50%);
                    }
                    &:last-of-type {
                        border: 0px;
                        margin-bottom: 0px;
                        img {
                            margin-bottom: 0px;
                        }
                    }
                    .product-list-title {
                        margin-top: 12px;
                        font-size: 16px;
                    }
                    .product-list-category {
                        font-size: 12px;
                        margin-top: 5px;
                    }
                    .product-list-price {
                        top: 20px;
                        right: 0px;
                        color: #fff;
                        font-size: 12px;
                        padding: 4px 6px;
                        position: absolute;
                        background-color: #263238;
                        @include border-radius(50px);
                    }
                }
                .donut-chart-wrapper {
                    position: relative;
                    .donut-chart-label {
                        top: 50%;
                        left: 50%;
                        text-align: center;
                        -webkit-transform: translate(-50%, -50%);
                        transform: translate(-50%, -50%);
                        position: absolute;
                        .donut-chart-value {
                            font-size: 22px;
                            font-weight: bold;
                            margin-bottom: 5px;
                        }
                        .donut-chart-title {
                            font-size: 12px;
                            text-transform: uppercase;
                        }
                    }
                }
                .donut-chart-legend {
                    margin-top: 20px;
                    padding-top: 20px;
                    border-top: 1px solid #EBEBEB;
                    .legend-list {
                        margin-bottom: 18px;
                        @include flexbox();
                        .legend-bullet {
                            width: 8px;
                            height: 8px;
                            margin-right: 10px;
                            margin-left: 10px;
                            display: inline-block;
                            @include border-radius(50%);
                        }
                        .legend-title {
                            margin-top: -4px;
                        }
                        &:last-of-type {
                            margin-bottom: 0px;
                        }
                    }
                }
                .form-wizard-nav {
                    margin-bottom: 20px;
                    border-bottom: 1px solid #EBEBEB;
                    @include flexbox();
                    .step {
                        -webkit-box-flex: 1;
                        -ms-flex: 1;
                        flex: 1;
                        cursor: pointer;
                        font-size: 16px;
                        text-align: center;
                        position: relative;
                        padding: 15px 0px 25px 0px;
                        &.active {
                            font-weight: bold;
                            @include border-radius(0.3em 0.3em 0em 0em);
                        }
                        &.complete:before {
                            right: 0px;
                        }
                        &:before {
                            content: "";
                            height: 4px;
                            background-color: #21292b;
                            left: 0px;
                            right: 100%;
                            bottom: -2px;
                            position: absolute;
                            @include transition(all 0.4s ease);
                        }
                    }
                }
                .step-content {
                    display: none;
                }
                .icon-list-wrapper {
                    & > div {
                        margin-bottom: 20px;
                        .page-header {
                            color: #0275d8;
                            font-size: 16px;
                            display: block;
                            margin-bottom: 10px;
                        }
                        a {
                            cursor: pointer;
                            color: #263238;
                            padding-top: 10px;
                            padding-bottom: 10px;
                            text-decoration: none;
                            display: block;
                            i {
                                margin-right: 10px;
                            }
                            &:hover {
                                color: #0275d8;
                            }
                        }
                    }
                }
            }
            .media-wrapper {
                .media-row {
                    @include flexbox();
                    .media-box {
                        @extend .content-box;
                        width: 100%;
                        padding: 8px;
                        position: relative;
                        margin-right: 20px;
                        .media-image {
                            height: 130px;
                            position: relative;
                            @include border-radius(0.3em);
                            img {
                                width: 100%;
                                height: 100%;
                                position: absolute;
                                object-fit: cover;
                            }
                            .media-file-size {
                                color: #fff;
                                font-size: 12px;
                                padding: 3px 8px;
                                margin-top: 5px;
                                margin-left: 5px;
                                position: absolute;
                                background-color: rgba(255,255,255,.4);
                                @include border-radius(50px);
                            }
                            .media-zoom {
                                color: rgba(255, 255, 255, 0.61);
                                font-size: 35px;
                                top: 50%;
                                left: 50%;
                                text-align: center;
                                -webkit-transform: translate(-50%, -50%);
                                transform: translate(-50%, -50%);
                                position: absolute;
                                &:hover {
                                    color: #fff;
                                }
                            }
                        }
                        .media-footer {
                            overflow: hidden;
                            margin-top: 10px;
                            .media-name {
                                width: 50%;
                                float: left;
                            }
                            .media-action {
                                width: 50%;
                                float: left;
                                text-align: right;
                                a {
                                    cursor: pointer;
                                    text-decoration: none;
                                }
                            }
                        }
                        &:last-of-type {
                            margin-right: 0px;
                        }
                        &.selected {
                            color: #fff;
                            background: #263238;
                            &:after {
                                content: "x";
                                top: -8px;
                                right: -8px;
                                width: 28px;
                                height: 28px;
                                position: absolute;
                                background: #cc0101;
                                cursor: pointer;
                                padding-bottom: 3px;
                                font-size: 18px;
                                align-items: center;
                                justify-content: center;
                                @include border-radius(50%);
                                @include flexbox();
                            }
                            &:hover {
                                background-color: #263238;
                            }
                        }
                        &:hover {
                            cursor: pointer;
                            background-color: #f4f4f4;
                        }
                    }
                }
                .media-upload-button,
                .media-search {
                    width: 100%;
                }
                .media-selected-files {
                    font-size: 16px;
                }
                .media-clear {
                    color: #bc0b0b;
                    display: block;
                    margin-top: 10px;
                    text-decoration: none;
                    &:hover {
                        color: #333;
                    }
                }
                .media-pagination {
                    border-top: 1px solid #EBEBEB;
                    padding-top: 20px;
                    margin-top: 20px;
                }
            }
            &.chat-wrapper {
                padding: 0px;
                @include background-gradient(top, #f1f1f1, #fcfcfc);
                .panel {
                    width: 100%;
                    display: table;
                    table-layout: fixed;
                    .chat-contact {
                        width: 250px;
                        vertical-align: top;
                        display: table-cell;
                        .nav {
                            width: 100%;
                            padding: 10px;
                            border-color: #dddedf;
                            display: table;
                            table-layout: fixed;
                            .nav-item {
                                vertical-align: top;
                                display: table-cell;
                                a {
                                    color: #333;
                                    border: 0px;
                                    cursor: pointer;
                                    @include border-radius(0em);
                                    margin-right: 1px;
                                    font-size: 14px;
                                    text-align: center;
                                    position: relative;
                                    background-color: transparent;
                                    @include transition(all 0.4s ease);
                                    i {
                                        font-size: 20px;
                                        display: block;
                                        margin-bottom: 8px;
                                    }
                                    &.active {
                                        i {
                                            color: #1E88E5;
                                        }
                                        &:after {
                                            width: 50%;
                                        }
                                    }
                                    &:hover {
                                        &:after {
                                            width: 50%;
                                        }
                                    }
                                    &:after {
                                        content: "";
                                        width: 0%;
                                        height: 5px;
                                        left: 0px;
                                        right: 0px;
                                        bottom: -11px;
                                        margin-left: auto;
                                        margin-right: auto;
                                        position: absolute;
                                        background-color: #1E88E5;
                                        @include transition(all 0.4s ease);
                                        @include border-radius(50px);
                                    }
                                }
                                &:first-child {
                                    a {
                                        @include border-radius(0.3em 0em 0em 0.3em);
                                    }
                                }
                                &:last-child {
                                    a {
                                        margin-right: 0px;
                                        @include border-radius(0em 0.3em 0.3em 0em);
                                    }
                                }
                            }
                        }
                        .tab-content {
                            .tab-pane {
                                .contact-search {
                                    padding: 10px;
                                    position: relative;
                                    border-bottom: 1px solid #dddedf;
                                    input {
                                        width: 100%;
                                        border: 0px;
                                        outline: none;
                                        padding: 8px 10px 8px 35px;
                                        @include border-radius(50px);
                                        @include placeholder(#ccc);
                                    }
                                    button {
                                        top: 16px;
                                        left: 20px;
                                        border: 0px;
                                        color: #ccc;
                                        font-size: 16px;
                                        position: absolute;
                                        background-color: #fff;
                                    }
                                }
                                .contact-list {
                                    .user {
                                        cursor: pointer;
                                        position: relative;
                                        padding: 20px 10px 10px 10px;
                                        border-bottom: 1px solid #dddedf;
                                        @include flexbox();
                                        @include transition(all 0.4s ease);
                                        .user-image {
                                            width: 60px;
                                            height: 60px;
                                            margin-top: -12px;
                                            position: relative;
                                            img {
                                                width: 100%;
                                                height: 100%;
                                                @include border-radius(50%);
                                            }
                                            .user-on {
                                                width: 10px;
                                                height: 10px;
                                                top: 4px;
                                                left: 4px;
                                                position: absolute;
                                                border: 1px solid #fff;
                                                background-color: #1aae88;
                                                @include border-radius(50%);
                                            }
                                        }
                                        .clear {
                                            padding-left: 10px;
                                            .user-name {
                                                font-weight: bold;
                                                margin-bottom: 3px;
                                            }
                                            .last-message {
                                                color: #95989a;
                                            }
                                        }
                                        .last-message-time {
                                            padding: 2px 5px;
                                            top: 10px;
                                            right: 10px;
                                            font-size: 10px;
                                            position: absolute;
                                            background-color: #fff;
                                            @include border-radius(50px);
                                        }
                                        &:hover,
                                        &.active {
                                            color: #fff;
                                            background-color: #1E88E5;
                                            .clear .last-message {
                                                color: #65b0f3;
                                            }
                                            .last-message-time {
                                                color: #000;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .chat-content {
                        vertical-align: top;
                        display: table-cell;
                        background-color: #fff;
                        .active-user {
                            padding: 15px 20px;
                            border-bottom: 1px solid #E5E5E5;
                            a {
                                cursor: pointer;
                                text-decoration: none;
                            }
                        }
                        .chat-list {
                            padding: 20px;
                            .message {
                                margin-top: 25px;
                                margin-bottom: 35px;
                                .message-content {
                                    margin-top: 20px;
                                    @include flexbox();
                                    & > div {
                                        flex: 1 1 auto;
                                    }
                                    .user-image {
                                        max-width: 45px;
                                        height: 45px;
                                        position: relative;
                                        img {
                                            width: 100%;
                                            height: 100%;
                                            @include border-radius(50%);
                                        }
                                        &:first-child {
                                            margin-right: 20px;
                                        }
                                    }
                                    .clear {
                                        position: relative;
                                        .message-text {
                                            max-width: 200px;
                                            padding: 10px 15px;
                                            line-height: 20px;
                                            @include border-radius(0.3em);
                                        }
                                        &:first-child {
                                            .message-time {
                                                padding: 2px 5px;
                                                top: -25px;
                                                right: -47px;
                                                font-size: 10px;
                                                color: #ccc;
                                                position: absolute;
                                            }
                                            .message-text {
                                                float: right;
                                                position: relative;
                                                margin-right: 20px;
                                                margin-top: 3px;
                                                background-color: #d6ebfd;
                                                &:after {
                                                    content: "";
                                                    top: 7px;
                                                    right: -27px;
                                                    position: absolute;
                                                    border: 15px solid #d6ebfd;
                                                    border-top-color: transparent;
                                                    border-left-color: #d6ebfd;
                                                    border-right-color: transparent;
                                                    border-bottom: 0px solid transparent;
                                                    -webkit-transform: rotate(5deg);
                                                    transform: rotate(5deg);
                                                }
                                            }
                                        }
                                        &:last-child {
                                            .message-time {
                                                padding: 2px 5px;
                                                top: -25px;
                                                left: -71px;
                                                font-size: 10px;
                                                color: #ccc;
                                                position: absolute;
                                            }
                                            .message-text {
                                                position: relative;
                                                margin-top: 3px;
                                                background-color: #f8f8f8;
                                                &:after {
                                                    content: "";
                                                    top: 7px;
                                                    left: -27px;
                                                    position: absolute;
                                                    border: 15px solid #f8f8f8;
                                                    border-top-color: transparent;
                                                    border-left-color: transparent;
                                                    border-right-color: #f8f8f8;
                                                    border-bottom: 0px solid transparent;
                                                    -webkit-transform: rotate(-5deg);
                                                    transform: rotate(-5deg);
                                                }
                                            }
                                        }
                                    }
                                }
                                &:last-child {
                                    margin-bottom: 10px;
                                }
                            }
                            .message-date {
                                position: relative;
                                text-align: center;
                                margin-bottom: 45px;
                                margin-top: 30px;
                                span {
                                    z-index: 2;
                                    color: #bdbcbc;
                                    font-size: 12px;
                                    padding: 0px 10px;
                                    position: relative;
                                    background-color: #fff;
                                }
                                &:before {
                                    content: "";
                                    width: 100%;
                                    top: 8px;
                                    left: 0px;
                                    position: absolute;
                                    border-bottom: 1px solid #E5E5E5;
                                }
                            }
                        }
                        .chat-input {
                            padding: 10px 10px 10px 0px;
                            border-top: 1px solid #E5E5E5;
                            @include flexbox();
                            .chat-menu {
                                width: 60px;
                                color: #1E88E5;
                                max-width: 60px;
                                flex: 1 1 auto;
                                cursor: pointer;
                                font-size: 20px;
                                padding: 20px 0px;
                                position: relative;
                                text-align: center;
                                &:hover {
                                    .menu-list {
                                        display: table;
                                    }
                                }
                                .menu-list {
                                    width: 40px;
                                    top: -210%;
                                    left: 0px;
                                    right: 0px;
                                    display: none;
                                    margin-left: auto;
                                    margin-right: auto;
                                    table-layout: fixed;
                                    position: absolute;
                                    background-color: #1E88E5;
                                    @include border-radius(0.3em);
                                    &:after {
                                        content: "";
                                        left: 12px;
                                        bottom: -16px;
                                        position: absolute;
                                        border: 8px solid #1E88E5;
                                        border-bottom-color: transparent;
                                        border-left-color: transparent;
                                        border-right-color: transparent;
                                        border-top-color: #1E88E5;
                                    }
                                    a {
                                        color: #fff;
                                        cursor: pointer;
                                        display: table-row;
                                        i {
                                            padding-top: 10px;
                                            padding-bottom: 10px;
                                        }
                                        &:first-child {
                                            i {
                                                padding-top: 20px;
                                            }
                                        }
                                        &:last-of-type {
                                            i {
                                                padding-bottom: 20px;
                                            }
                                        }
                                    }
                                }
                            }
                            textarea {
                                flex: 1 1 auto;
                                outline: none;
                                border: 0px;
                                padding: 10px;
                                resize: none;
                                background-color: #fafafa;
                                @include border-radius(0.3em);
                            }
                        }
                    }
                    .chat-detail {
                        width: 250px;
                        padding: 10px;
                        vertical-align: top;
                        display: table-cell;
                        .user-detail {
                            text-align: center;
                            padding: 30px 0px;
                            border-bottom: 1px solid #dddedf;
                            img {
                                width: 100px;
                                height: 100px;
                                @include border-radius(50%);
                            }
                            .user-name {
                                font-size: 14px;
                                font-weight: bold;
                                margin-top: 20px;
                                color: #1E88E5;
                            }
                            .user-city {
                                color: #95989a;
                                margin-top: 5px;
                            }
                            .user-social {
                                margin-top: 15px;
                                i {
                                    width: 23px;
                                    height: 23px;
                                    color: #fff;
                                    padding-top: 5px;
                                    margin: 0px 2px;
                                    box-sizing: border-box;
                                    background-color: #1E88E5;
                                    @include border-radius(50%);
                                }
                            }
                        }
                        .chat-document {
                            padding: 15px 0px;
                            border-bottom: 1px solid #dddedf;
                            .title {
                                font-weight: bold;
                                color: #1E88E5;
                            }
                            .document-list {
                                margin-top: 20px;
                                li {
                                    margin-top: 10px;
                                    margin-left: 20px;
                                    list-style-type: circle;
                                    a {
                                        color: #333;
                                        cursor: pointer;
                                        text-decoration: none;
                                    }
                                }
                            }
                        }
                        .chat-image {
                            padding: 15px 0px;
                            .title {
                                font-weight: bold;
                                color: #1E88E5;
                            }
                            .image-list {
                                margin-top: 20px;
                                overflow: hidden;
                                .image-thumbnail {
                                    max-width: 65px;
                                    margin-right: 10px;
                                    margin-bottom: 10px;
                                    float: left;
                                    img {
                                        width: 100%;
                                        cursor: pointer;
                                        @include border-radius(0.3em);
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .invoice-wrapper {
                @extend .content-box;
                min-height: 1050px;
                max-width: 800px;
                overflow: hidden;
                position: relative;
                padding: 100px 100px 20px 100px;
                &:before {
                    content: "";
                    width: 150%;
                    height: 57%;
                    position: absolute;
                    top: -25%;
                    left: -40%;
                    background-color: #fafafa;
                    -webkit-transform: rotate(-15deg);
                    transform: rotate(-15deg);
                }
                &:after {
                    content: "";
                    width: 150%;
                    height: 57%;
                    position: absolute;
                    top: -48%;
                    left: -22%;
                    background-color: #f7f7f7;
                    -webkit-transform: rotate(27deg);
                    transform: rotate(27deg);
                }
                .invoice-info {
                    z-index: 2;
                    position: relative;
                    -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                    justify-content: space-between;
                    @include flexbox();
                    .client-info {
                        text-align: right;
                        margin-top: 200px;
                    }
                    .company-name,
                    .client-name {
                        margin-top: 15px;
                        font-size: 22px;
                    }
                    .company-address,
                    .client-address {
                        font-size: 16px;
                        margin-top: 10px;
                    }
                    .company-phone,
                    .client-phone {
                        margin-top: 10px;
                    }
                }
                .invoice-date {
                    margin-top: 40px;
                    .invoice-date-title {
                        font-size: 22px;
                    }
                    .invoice-date-text {
                        margin-top: 5px;
                    }
                }
                .invoice-body {
                    margin-top: 40px;
                    .invoice-code {
                        font-size: 16px;
                        .invoice-code-text {
                            padding-left: 5px;
                        }
                    }
                    .invoice-table {
                        margin-top: 10px;
                        tr th:first-of-type,
                        tr td:first-of-type {
                            padding-left: 0px;
                        }
                        tr th:last-of-type,
                        tr td:last-of-type {
                            padding-right: 0px;
                        }
                        tr th {
                            text-transform: uppercase;
                        }
                        tfoot {
                            font-weight: bold;
                            text-transform: uppercase;
                        }
                    }
                    .invoice-terms {
                        margin-top: 30px;
                        .invoice-terms-title {
                            font-size: 16px;
                        }
                        .invoice-terms-content {
                            margin-top: 5px;
                        }
                    }
                }
                .invoice-footer {
                    @extend .content-box-footer;
                    margin-top: 100px;
                    img {
                        width: 50px;
                        margin-right: 10px;
                        margin-top: -10px;
                    }
                    .company-email-phone {
                        padding-top: 10px;
                        display: inline-block;
                    }
                }
            }
        }
        .with-top-banner {
            @include border-radius(0em 0em 0.3em 0.3em);
        }
        .not-found-box {
            color: #37474F;
            padding: 20px;
            max-width: 450px;
            margin: 0px auto;
            margin-top: 140px;
            position: relative;
            text-align: center;
            border: 2px dashed #ccc;
            -webkit-animation: showSlowlyElement 0.80s;
            animation: showSlowlyElement 0.80s;
            @include border-radius(0.4em);
            .error-code {
                font-size: 72px;
            }
            .error-status {
                color: #78909c;
                font-size: 18px;
            }
            .error-text {
                font-size: 22px;
                margin-top: 40px;
                margin-bottom: 20px;
            }
            .not-found-footer {
                padding-top: 20px;
                border-top: 2px dashed #ccc;
                .form-control {
                    height: auto;
                }
            }
        }
    }
}
.auth-wrapper {
    max-width: 450px;
    margin: 0px auto;
    margin-top: 1rem;
    min-height: 400px;
    .auth-header {
        padding: 50px 50px 30px 50px;
        text-align: right;
        position: relative;
        background-size: cover;
        box-sizing: border-box;
        background-color: #263238;
        background-position: center;

        @include border-radius(0.3em);
        @include box-shadow(0px 0px 15px rgba(0, 0, 0, 0.03));
        .auth-title {
            color: #fff;
            font-size: 22px;
            margin-top: 70px;
        }
        .auth-subtitle {
            color: #fff;
            margin-top: 5px;
        }
        .auth-label {
            padding: 5px 15px;
            font-size: 12px;
            background-color: #fff;
            position: absolute;
            bottom: 30px;
            left: 50px;
            @include border-radius(50px);
        }
    }
    .auth-body {
        background: #fff;
        margin-top: 20px;
        @include border-radius(0.3em);
        @include box-shadow(0px 0px 15px rgba(0, 0, 0, 0.03));
        .auth-content {
            padding: 30px 50px 30px 50px;
            .form-group label {
                font-weight: bold;
            }
        }
        .auth-footer {
            font-size: 12px;
            font-weight: bold;
            border-top: 1px solid #EBEBEB;
            padding: 30px 50px 30px 50px;
            overflow: hidden;
            .auth-link {
                margin-top: 7px;
                .check-label {
                    display: inline-block;
                }
                .devider {
                    position: relative;
                    display: inline-block;
                    margin-left: 5px;
                    margin-right: 5px;
                    &:after {
                        content: "";
                        top: -11px;
                        left: 0px;
                        position: absolute;
                        width: 1px;
                        height: 13px;
                        background-color: #ccc;
                    }
                }
                a {
                    cursor: pointer;
                    text-decoration: none;
                }
            }
        }
    }
    .auth-user {
        @extend .auth-header;
        text-align: center;
        padding: 50px;
        color: #fff;
        img {
            width: 75px;
            padding: 2px;
            border: 2px solid #f4f4f4;
            @include border-radius(50%);
        }
        .auth-user-name {
            font-size: 16px;
            margin-top: 10px;
            margin-bottom: 5px;
        }
        .auth-user-group {
            font-size: 12px;
        }
    }
}

.badge {
    display: inline-block;
    line-height: 1;
    color: #fff;
    font-size: 11px;
    padding: 3px 6px;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    @include border-radius(50px);
}
.badge-yellow {
    @extend .badge;
    background-color: #FBC02D;
}
.badge-red {
    @extend .badge;
    background-color: #e33244;
}
.badge-grey {
    @extend .badge;
    background-color: #a0a0a0;
}
.select-rounded {
    height: 22px;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 15px;
    padding-left: 15px;
    font-weight: normal;
    font-size: 12px;
    background-position: right 5px top 50%;
    border-color: #263238;
    background-color: transparent;
    position: relative;
    outline: none;
    background-position: right 5px top 50%;
    background-repeat: no-repeat;
    background-image: url(../images/select-arrow.png);
    @include border-radius(30px);
}
.status-pill {
    width: 8px;
    height: 8px;
    display: inline-block;
    background-color: #ccc;
    @include border-radius(50%);
}
.check-label {
    display: block;
    input {
        margin-right: 8px;
    }
}
.form-section {
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 25px;
    position: relative;
    &:before {
        content: "";
        width: 100%;
        top: 10px;
        left: 0px;
        position: absolute;
        border-bottom: 1px solid #EBEBEB;
    }
    span {
        z-index: 2;
        padding-right: 10px;
        position: relative;
        background-color: #fcfcfc;
    }
}
.green {
    background-color: #71c21a;
}
.red {
    background-color: #e33244;
}
.yellow {
    background-color: #FBC02D;
}
.blue {
    background-color: #5797fc;
}