.register_btn {
    width: 100%;
    margin-top: 10px;
    background-color: #0f4399 !important;
    color: #fff0ff;
}

.paddingtopbtm20 {
    padding: 20px 10px;
}

.width700 {
    max-width: 700px;

}

.paddingtop10 {
    padding-top: 10px;
}

.register-wrapper {
    max-width: 750px;
    margin: 0px auto;
    margin-top: 1rem;
    min-height: 400px;
}

.padding3 {
    padding: 10px;
}

margintopbtm20 {
    margin: 20px 0px;
}

.top-banner-signup {
    color: #fff;
    padding: 35px 20px;
    position: relative;
    background-size: cover;
    box-sizing: border-box;
    background-color: #263238;
    background-image: url(../images/chocolate.jpg);
    -webkit-border-radius: 0.3em 0.3em 0em 0em;
    -moz-border-radius: 0.3em 0.3em 0em 0em;
    -ms-border-radius: 0.3em 0.3em 0em 0em;
    -o-border-radius: 0.3em 0.3em 0em 0em;
    border-radius: 0.3em 0.3em 0em 0em;
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.top-banner-title {
    font-size: 24px;
    font-weight: 400;
    margin: 0 auto;
    text-align: center;
    color: #fff0ff;
}

.top-banner-subtitle {
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;

}

.heading1 {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 10px;
    color: #fafafa;
    border-radius: 2px;
    padding: 5px;
}

.heading3 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
    color: #333;
    border-radius: 2px;
    padding: 5px;
}

.bullets { /* first well;*/

    padding: 10px 50px;
}

.bullets ul li { /* first well;*/
    list-style-type: circle;

}

.paddingtop8 {
    padding-top: 8px;
}

.materialhtml {
    background-color: #ccccb3;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.marginleft10 {
    margin-left: 10px;
}

.logoimage {
    max-height: 100px;
    max-width: 100px;
    border-radius: 10%;
}

.logoimage2 {
    max-height: 130px;
    max-width: 130px;

}

.whitebackground {
    background-color: #FFFFFF;
    color: #2e383c !important;
}

.orangebackground {
    background-color: #f46c1c !important;
    color: #fff0ff !important;
}

.bluebackground {
    background-color: #0f4399 !important;
    color: #fff0ff !important;
}

.greenbackground {
    background-color: #01ae2a;
    color: #fff0ff !important;
}

.redbackground {
    background-color: #f30000;
    color: #fff0ff !important;
}

.whitefont {
    color: #FFFFFF !important;
}

.orangefont {
    color: #f46c1c;
}

.bluebackground {
    color: #0f4399;
}

.greenfont {
    color: #01ae2a;
}

.redfont {
    color: #f30000;
}

.darkbackround {

    background-color: #00001a !important;
    background-size: cover;
    background-image: url(../images/banner.jpg);

}

.darkbackround2 {

    background-color: #00001a !important;
    background-size: cover;
    background-image: url(../images/banner.jpg);

}

.header-pic {

    background-color: #00001a !important;
    background-size: cover;
    max-height: 200px;
    width: 100%;
    height: 120px;
    background-image: url(../images/header.png);
}

.footer-pic {

    background-color: #00001a !important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    max-height: 200px;
    width: auto;
    height: 120px;
    background-image: url(../images/mainfooter.png);
}

.paddingtop30 {
    padding-top: 30px;
}

.paddingbtm30 {
    padding-bottom: 30px;
}

.padding3 .form-group label {
    font-weight: bold;
}

.colorwhite {
    color: #fff0ff;
}

.modal {
    /*top:100px;*/
}

.materialitems,.newmaterial {
    background-color: #e0e0d1;
    padding-top: 15px;
    margin: 5px;
}

.fade.in {
    opacity: 1;
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

.modal-backdrop .fade .in {
    opacity: 0.5 !important;
}

.modal-backdrop.fade {
    opacity: 0.5 !important;
}

.form-section {
    text-align: center;
    padding: 8px;
    border: 1px solid #0f4399;
    background-color: #0f4399;
}

.form-section-head {
    text-align: center;
    padding: 8px;
    border: 1px solid #2d2d2d;
    background-color: #2d2d2d;
}

.form-group label {
    font-size: 13px;
    font-weight: bold;
}

.formimage {
    max-height: 200px;
    border-radius: 10%;
    /*width: 80%;*/
}

.showLable {
    padding-left: 50px;
}

/*radio buttons*/
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    margin: 0 auto;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f44242;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #24a016;
}

input:focus + .slider {
    box-shadow: 0 0 1px #24a016;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.radio-group label {
    overflow: hidden;
}

.radio-group input {
    /* This is on purpose for accessibility. Using display: hidden is evil.
    This makes things keyboard friendly right out tha box! */
    height: 1px;
    width: 1px;
    position: absolute;
    top: -20px;
}

.radio-group .not-active {
    color: #3276b1;
    background-color: #fff;
}
.fullwidth{
    width: 100%;;
}


